body {
  background-color:purple;
  text-align: center;
}
h1 {
  color: black;
  border-style: solid;
}
h2 {
  color: blanchedalmond;
}
h3 {
  color: blanchedalmond;
}

p{
  color: blanchedalmond;
}